<div class = "page-title">
  Upload your article
</div>

<% if logged_in? %>
  <div class = "article-input_area">
    <%= form_with url: article_upload_path do |f| %>
      <div id="upload-form-title">
        <%= f.label "title : " %>
        <%= f.text_field :title %>
      </div>

      <div id="upload-form-content">
        <%= f.label "content : " %>
        <%= f.text_area :content %>
      </div>

      <div id="upload-form-offer-price">
        <%= f.label "offer price : " %>
        <%= f.text_field :offer_price %>
      </div>

      <div id="upload-form-submit">
        <%= f.submit "upload", data: { diesabled_with: "processing..." } %>
      </div>
    <% end %>
  </div>
<% else %>
  <div>
    Please login before posting an article.
  </div>
  <div>
    <%= link_to new_user_path %>
    <%= link_to user_login_path %>
  </div>
<% end %>