<div id="article-title">
  <%= @details.title %>
</div>

<div id="article-author">
  Author : <%= @article_summary.author_name %>
</div>

<% if logged_in? %>
  <% if @is_obtained %>
    <div id="article-content">
      <%= @details.fetch_article_content %>
    </div>
  <% else %>
    <div id="price">
      <%= @details.offerPrice %> point!
    </div>

    <%if @is_able_to_purchase %>
      <div id="purchase-article-button">
        <%= button_to "buy it now!", transaction_purchase_article_path(params: {article_summary: @article_summary} ) %>
      </div>
    <% else %>
      <div id="purchase-points-button">
        <%= button_to "purchase points", transaction_add_point_path, method: :get %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div>
    If you want to see? please login!
    <div class ="user-registration">
      <%= link_to "user registration", new_user_path %>
    </div>

    <div>
      <%= link_to "Login", user_login_path %>
    </div>
 </div>
<% end %>