<div class = "page-title">
  User Registration
</div>

<div class = "user-registration-input-area">
  <%= form_with url: user_index_path do |f| %>
    <div>
      <%= f.label "user_private_hash : #{@user_private_hash}" %>
    </div>
    <div>
      <%= f.label "[IMPORTANT!!] user private hash is used for sign in. Please take a note." %>
      <%= f.hidden_field :user_private_hash, value: @user_private_hash %>
    </div>

    <div>
      <%= f.label "user_name : " %>
      <%= f.text_field :user_name %>
    </div>

    <div>
      <%= f.label "password" %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.submit "register" %>
    </div>
  <% end %>
</div>